Package: drpbx
Installed-Size:
Version: 0.1.1
Depends: opie-sh,ruby
Priority: optional
Section: network/tools
Maintainer: KONDOU Nobuhiro
Architecture: arm
Licence: GPL
Description: Dropbox client for Zaurus

